@using MarbleGraniteShop.Utility

@model IEnumerable<MarbleGraniteShop.Models.Product>

@section Styles {
    <link rel="stylesheet" href="~/css/User.css" />
}


<div class="row pb-3 backgroundWhite">

    @foreach (var product in Model)
    {
        <div class="col-md-4 col-sm-6 col-lg-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:20px;color:steelblue;">@product.Name</label>
                    </h4>
                </div>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@product.Id">

                    <img class="card-img-top" style="height:200px;" src="@product.ImageUrl" alt="Card Image" />
                </a>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313"><b>₹@product.Price</b>/sq.ft</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            @if (product.Rating == 0)
                            {
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i> }
                            else if (product.Rating == 1)
                            {

                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i> }
                            else if (product.Rating == 2)
                            {
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i> }
                            else if (product.Rating == 3)
                            {
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i> }
                            else if (product.Rating == 4)
                            {
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i> }
                            else if (product.Rating == 5)
                            {
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>}
                        </div>

                    </div>

                </div>
            </div>
        </div>}
</div>


@*@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}*@

@*<a asp-action="Index"
   
   asp-route-page="@(Model.PageIndex - 1)"
  
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   
   asp-route-page="@(Model.PageIndex + 1)"
  
   class="btn btn-primary @nextDisabled">
    Next
</a>*@